html {
    background: #FFC900;
    background-image: linear-gradient(270deg, rgb(187, 148, 0) 0%, rgb(187, 148, 0) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #BB9400;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 800px;
}

h1, h2, footer {
    color: #FFF142;
    font-weight: 600;
    line-height: 1;
    background: #000000;
}

ul, p, ol  {
    background: #BB9400;
    
}
ul {
    list-style-type: none;
    padding-left: 5px
}